.logo {
  width: 20rem;
}

.search-name {
  margin: 0px 0px 40px 0px;
  font-size: 1.7rem;
}

.input {
  padding: 15px;
  border-color: aqua;
}
.button {
  padding: 15px;
  background-color: aqua;
  color: white;
  border-color: aqua;
}

.form {
  width: 300px;
  margin: 0 auto;
  padding-bottom: 20px;
}
.separetor {
  height: 1px;
  width: 100%;
  margin: 20px 0;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-container,
.separetor::before {
  content: "or";
  color: #ccc;
  font-size: 15px;
  padding: 10px 10px;
  background-color: #fff;
}
.geoBtn {
  width: 100%;
  padding: 10px;
  border: 0px;
  border-radius: 5px;
  background-color: aqua;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 15px;
}
.inputValid {
  border: 1px solid red;
}
.input-ValidText {
  color: red;
  font-size: 14px;
}
