.logo {
  width: 20rem;
}

.search-name {
  margin: 0px 0px 40px 0px;
  font-size: 1.7rem;
}

.input {
  padding: 15px;
  border-color: aqua;
}
.button {
  padding: 15px;
  background-color: aqua;
  color: white;
  border-color: aqua;
}

.form {
  width: 300px;
  margin: 0 auto;
  padding-bottom: 20px;
}
